<h1> List of movies </h1>
  <ol>
    {% for movie in movies %}
        <li>
            <div>
               <h5> {{movie.field_movie_title.value | raw}}  </h5>
                {{movie.field_movie_description.value | raw}} 
                <img src="{{ file_url(movie.field_movie_image.entity.fileuri) }}" width="300" height="300" />
            </div>
        </li>
    {% endfor %}
</ol>  
